
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시드닝 터치테이블</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="{% static 'diagnosis.css' %}">

    <!-- 폰트어썸 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style>
    .result-container {
      display: none;
    }
    .show {
      display: block;
    }
  </style>

</head>



<body onload="showResult()">
  {% load static %}
    
  <div class="logicGame">

    <div class="logicGame_title">
      <div class="main_title">
        <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="title_img">
          <i class="fa-solid fa-hospital-user"></i>
        </div>
        <div class="title_text">
          <div class="title_text_head">자가 치매 진단</div>
          <div class="title_text_sub">내 건강은 내가 챙긴다</div>
        </div>
      </div>

      <div class="sub_title">
        건강 챙기미
      </div>
    </div>

    <div class="slide_btn">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="slideshow-container fade">
        {% load static %}
        <img class="game_img" src="/static/img/result.png" alt="">
<!--         <h3><인지기능장애 평가도구></h3>
 -->          <h3 class="result_title" style="color: #EF634B !important; ">결과</h3>
      <div id="result-low" class="result-container result">
        <div>정상적인 상태입니다. </div>
        치매일 확률이 낮으며 <br>지속적인 치매 예방을 통해 뇌의 노화를 늦출 수 있습니다.
      </div>
      <div id="result-moderate" class="result-container result">
        <div>치매 증상이 의심되는 상태입니다.</div>
        전문 의료기관에서의 상세한 치매진단이 필요하며, <br> 가족이나 주변인과 치매에 대해 이야기를 나누어야 합니다.
      </div>
      <div id="result-high" class="result-container result">
        <div>중증 치매가 의심되는 상태입니다.</div>
        즉시 전문가와의 상담을 권장하며 <br>정도에 따라 치료를 병행해야 합니다. 
      </div>
    </div>



  <script>
    function showResult() {
      // Get the result from local storage
      var result = localStorage.getItem("result");
      
      // Display the correct result
      var resultContainer = document.getElementById("result-" + result.toLowerCase());
      resultContainer.classList.add("show");
    }
  </script>
    
        

   
</body>

{% endblock %}



