@import url("memoryGame-reset.css");
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Merriweather+Sans:ital,wght@1,300&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap%27');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #FFFCF4;
  position: relative;
}

/* top */
.top {
  margin: 60px 60px;
  display: flex;
  justify-content: space-between;
  height: 125px;
  width: 100%;
}

.head_title {
  font-size: 60px;
  font-family: 'Gugi', cursive;
}

.head_title::first-letter{
  content: '';
  color: #FFD26C;
  font-size: 65px;
}

.sub_title {
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 20px;

}

.retry,
.back_btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  line-height: 90px;
  color: black;
  opacity: 0.5;
}

.retry:hover,
.back_btn:hover {
  opacity: 1;
  transition: 1s;
}

/* 버튼
.button {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #FFFFFF;
  display: flex;
  float: left;
  margin: 10px;
}
.button :last-child {
  float: right;
}
.button:hover {
  background-color: lightgray;
  transition: 0.3s;
} */

/* 카드 */
.memory-game {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  width: 900px;
  height: 680px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(20% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FFD26C;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
