@import "main-reset.css";
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Merriweather+Sans:ital,wght@1,300&family=Noto+Sans+KR&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Merriweather+Sans:ital,wght@1,300&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR&display=swap%27');



/* Slideshow container */
.slideshow-container {
  max-width: 1800px;
  position: relative;
  margin-bottom: -20px;
  margin-left: 100px;  
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

body {
    background-color: #f9b907;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
   display: none;
}

.logicGame {
    display: grid;
    grid-template-rows: 3fr 0.3fr 5fr;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}

/* 타이틀 */
.logicGame_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 1330px;
    padding: 0 50px 0 100px;
    margin-top: 90px;
}

.main_title {
    display: flex;
    align-items: center;
}

.home_btn {
    width: 50px;
    height: 50px;
    display: block;
    font-size: 30px;
    line-height: 50px;
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.title_img {
    width: 45px;
    height: 50px;
    margin-right: 25px;
    border-radius: 10px;
    font-size: 25px;
    color: #f9b907;
    text-align: center;
    line-height: 45px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    background-color: #fff;
}

.title_text div {
    line-height: 35px;
}
.title_text_head {
    font-family: 'GongGothicMedium';
    font-size: 30px;
}

.sub_title {
    font-family: 'GongGothicMedium';
    font-size: 20px;
}
.title_text_sub {
    font-family: 'NanumSquare';
    font-size: 20px;
}

/* 버튼 */
.slide_btn {
    opacity: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: flex;
    width: 1330px;
    padding: 0 50px 0 100px;
    justify-content: end;
    margin-bottom: 70px;
}
.slide2_btn {
    opacity: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: flex;
    width: 1330px;
    padding: 0 50px 0 100px;
    justify-content: end;
}

.prev, .next {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #fff;
    color: #f9b907;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

.slide_btn a:first-child {
    margin-right: 30px;
}


/* 슬라이드 */

.mySlides {
    display: none;
    width: 1500px;
    /* border: 1px solid black; */
}

.mySlides a:nth-child(4), 
.mySlides a:nth-child(8) {
    margin-right: 0;
}

.game_img {
    top: -180px;
    left: 15px;
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 3;
    animation: gameimg 1.4s infinite ease-in-out alternate;
    
}

@keyframes gameimg {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-20px);
    }
} 

.game_title {
    font-family: 'GongGothicMedium';
    font-size: 28px;
    margin-bottom: 15px;
    margin-top: 180px;

}

.game_title::first-letter {
    font-size: 33px;
}

.game_ex {
    font-family: 'NanumSquare';
    font-size: 18px;
    line-height: 25px;
}

.game_number {
    position: relative;
    width: 100%;
    height: 100%;
}
/* .game_number > img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: -15px;
    right: -15px;
} */

/* 테이블 */
.table {
    font-family: 'NanumSquare';
}

.table {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    height: auto;
    width: 90%;
    /* border: 2px solid black; */
    border-radius: 25px;
    background-color: #F5F4F3;
    padding: 40px 30px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 60px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    z-index: 3;
}

.book_number {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    background-color: #f9b907;
    border-radius: 15px;

}

.book_title {
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}

.book_sub {
    margin-top: 20px;
}

tr {
    width: 100%;
    position: relative;
}


.book_content {
    font-size: 18px;
    line-height: 35px;
    width: 65%;
    border-left: 2px solid #f9b907;
    padding-left: 30px;

}

/* 사랑의 메시지 */
.message-container {
    max-width: 1800px;
    position: relative;
    margin-top: -30px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.message_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 1330px;
    padding: 0 50px 0 100px;
    margin-top: -1px;
}

.message_btn {
    font-family: 'GongGothicMedium';
    border: none;
    color: #fff;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    margin-top: -80px;
}

.message_btn img {
    width: 300px;
    height: 300px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15); */
    border-radius: 30px;
}

form {
    margin: 0 !important;
    height: 400px;
    font-size: 22px;
    font-family: 'NanumSquare';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message_btn h6, 
form h6 {
    color: #fff;
    font-size: 25px;
    font-family: 'GongGothicMedium';
}

.message_btn h6 {
    margin-top: -35px;
    margin-bottom: 20px;
}

form input,
form textarea {
    border: none;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);

}

#title:focus,
#content:focus  {
    outline: 2px solid #389beb;
}

#title {
    width: 450px;
    height: 20px;
    font-family: 'NanumSquare';
    outline: none;

}

.content {
    width: 450px;
    height: 150px;
    white-space: pre-line;
    word-break:break-all;
    resize: none;
    font-family: 'NanumSquare';

}

form button {
    display: block;
    width: 120px;
    height: 40px;
    padding: 10px;
    font-family: 'NanumSquare';
    border: none;
    color: #fff;
    background-color: #389beb;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

form button a {
    color: #fff;
}
.fa-paper-plane {
    color: #fff;
    margin-left: 5px;
}

/* 사랑의 메시지 버블 */

.bubble_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 1330px;
    padding: 0 50px 0 100px;
    margin-top: 117px;
    margin-bottom: 50px;
}

.bubble-container {
    max-width: 1800px;
    padding: 0px 100px;
    height: auto;
}

.bubble {
    display: flex;
    flex-wrap: wrap;
}

.loveMessageBubble {
    height: auto; 
    width: 300px; 
    border-radius: 25px;
    background-color: #F5F4F3;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    margin-left: 30px;
    margin-bottom: 60px;
    font-family: 'NanumSquare';
    font-size: 20px;
    text-align: center;
    position: relative;
}

.loveMessageBubble h1 {
    display: block;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #000;
}

.loveMessageBubble h2 {
    line-height: 30px;
}

.loveMessageBubble img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: -20px;
}