
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>픽셀 아트</title>
  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'pixelart-style.css' %}">
  <script src="{% static 'pixelart.js' %}"></script>
  

  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
        <style type="text/css" media="screen, print">
                @font-face {
                font-family: 'GongGothicMedium';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
                font-weight: normal;
                font-style: normal;
                }
                body { font-family: "GongGothicMedium", serif }
        </style> 

</head>

<body>
  {% load static %}
<!-- partial:index.partial.html -->
  <div class="header" style="background-color: #39BF94; position:absolute; z-index: 3; width:100%; padding: 20px 60px;
  color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black; margin-top: -22px; margin-left: -10px;" >

    <div class="header-title" style="width: 100%; display: flex; align-items: center;">
      <a class="back_btn" style="width: 50px;
      height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
      font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="main_title" style="font-size: 40px;
      font-family: 'GongGothicMedium'; margin-bottom: 10px;">픽셀 아트</div>
    </div>

    <a class="home_btn" style= "width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 115px;
    color: white;
    margin-right: 100px;
    " href="/"><i class="fa-solid fa-house"></i></a>

  </div>

    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 100px;">
      <h1>픽셀 아트</h1>

      <h2>그림의 크기를 선택해주세요</h2>
      <form id="sizePicker">
          세로 크기:
          <input type="number" id="inputHeight" name="height" min="1" value="10">
          가로 크기:
          <input type="number" id="inputWidth" name="width" min="1" value="10">
          <input type="submit" id="submitBtn">
      </form>

      <h2>색을 골라주세요</h2>
      <input type="color" id="colorPicker">

      <table id="pixelCanvas"></table>

    </div>
      <!-- 무식하게 다 넣기 -->
    <script>
      // Select color input
      var gridColor = document.getElementById('colorPicker');
      // Select size input
      var gridHeight = document.getElementById('inputHeight');
      var gridWidth = document.getElementById('inputWidth');
      const submitButton = document.getElementById("submitBtn");
      const grid = document.getElementById('pixelCanvas');





        function makeGrid(x) {
          for(var i=0 ; i<gridHeight.value ; i++){
            const row = grid.insertRow (0);
            for( var j=0 ; j<gridWidth.value ; j++){
              row.insertCell (0);
            }
          }
        }
        
      // When size is submitted by the user, call makeGrid()
        submitButton.addEventListener('click' , function(x){
          //to check the listener 
          console.log("the user was submit the grid dimention");
          //to remove the old grid 
          grid.innerHTML = " ";
          //to keep the changes 
          x.preventDefault();
          //call the function
          makeGrid();
          
        });

        grid.addEventListener('click' , function(x) {
          // the if statement to prevent coloring all the grid
          if(x.target.nodeName === 'TD'){
          x.target.style.backgroundColor = gridColor.value; 
          }
        });



      /* var form = document.getElementById('pixelCanvas');
      form.style.backgroundColor = gridColor ; */

    </script>
    

</body>

{% endblock %}