
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시드닝 터치테이블</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="{% static 'books.css' %}">


  <!-- 폰트어썸 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  
</head>



<body>
  {% load static %}
  <div class="logicGame">
    <div class="message_title">
      <div class="main_title">
        <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="title_img">
            <i class="fa-regular fa-comments"></i>
        </div>
        <div class="title_text">
          <div class="title_text_head">사랑의 메시지</div>
          <div class="title_text_sub">선한 메시지를 담아 전송</div>
        </div>
      </div>

      <div class="sub_title">
        마음 챙기미
      </div>
    </div>

    <div class="slide2_btn">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="message-container">
      <div class="message fade">
        <a class="message_btn" href="view/"> 
            <h6>&nbsp;메시지 보러가기&nbsp;</h6>
            <img src="../static/images/message.png" alt="">
        </a>
        {% if board %}
            <form action="" method="POST" style="max-width:500px; margin:4rem;">
                {% csrf_token %}
                <h6>&nbsp;메시지 남기기&nbsp;</h6>
                <input autofocus required placeholder="이름을 적어주세요" type="text" id="title" name="title">
                <textarea required placeholder="남길 메시지를 작성해주세요" class="content" type="content" id="content" name="content"></textarea>

                <button type="submit">
                    <a href="view/">전송하기<i class="fas fa-paper-plane"></i>
                    </a>
                </button>
            </form>

       {% endif %}
      </div>
  </div>

</body>

{% endblock %}

