<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,intial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pin My Needle Game</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<canvas id="canvas" width="500" height="700" onclick="change_status()"></canvas>
	
	<div style="position: absolute;right: 70%;">
		<h1 textAlign="center">Pin My Needle Game</h1>
		<p id="tagger">레벨: <span id="Level">1</span></p>
		 <p id="Knifes_rem"></p>
	</div>

   
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
