{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <title>스네이크 게임</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'snake.css' %}">

    <!-- 폰트어썸 -->
	<script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
	<!-- 폰트 -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
	<style type="text/css" media="screen, print">
				@font-face {
				font-family: 'GongGothicMedium';
				src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
				font-weight: normal;
				font-style: normal;
				}
				body { font-family: "GongGothicMedium", serif }
	</style>
    
</head>

<body>
    {% load static %}
    <div class="header" style="background-color: #39BF94;z-index: 3; width:100%; padding: 20px 60px; 
        color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
        <div class="header-title" style="width: 100%;display: flex; align-items: center;">
            <a class="back_btn" style="width: 50px;
            height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
            font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="main_title" style="font-size: 40px;
            font-family: 'GongGothicMedium'; margin-bottom: 10px;">스네이크 게임</div>
        </div>

        <a class="home_btn" style= "width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        line-height: 115px;
        margin-right: 100px;
        color: white;" href="/"><i class="fa-solid fa-house"></i></a>
    </div>
    <div class="main-container">
        <div class="result-container">
            <div class="name"><h2>
                Train Game
            </h2></div>
            <div class="score">Score: <span id="score__text">0</span></div>
            <div class="speed">Speed: <span id="speed__text">0</span>x </div>
        </div>
        <div class="game-container">           
        </div>
        
    
    <div class="controls-container">
        <div class="start"><div id="startGame">Start</div></div>
        <div class="controls">
            <div class="up" id="up"><i id="up" class="fas fa-chevron-circle-up fa-2x"></i></div>
            <div class="horizontal"><i id="left" class="fas fa-chevron-circle-left fa-2x"></i><i id="right" class="fas fa-chevron-circle-right fa-2x"></i></div>
            <div class="down" id="down"><i id="down" class="fas fa-chevron-circle-down fa-2x"></i></div>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal-div">
    <div class="modal-container">
        <p><span id="modal--over__text">Game Over!!!</span> Score: <span id="modal__score">0</span></p>
    </div>
</div>



    <script src="{% static 'snake.js' %}"></script>
</body>

{% endblock %}