{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>테트리스</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'tetris.css' %}">

    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
    <style type="text/css" media="screen, print">
          @font-face {
          font-family: 'GongGothicMedium';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
          font-weight: normal;
          font-style: normal;
          }
          body { font-family: "GongGothicMedium", serif }
    </style>

</head>
<body>
    {% load static %}
    <div class="header" style="background-color: #39BF94;z-index: 3; width:100%; padding: 20px 60px; 
        color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
        <div class="header-title" style="width: 100%;display: flex; align-items: center;">
            <a class="back_btn" style="width: 50px;
            height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
            font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="main_title" style="font-size: 40px;
            font-family: 'GongGothicMedium'; margin-bottom: 10px;">테트리스</div>
        </div>

        <a class="home_btn" style= "width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        line-height: 115px;
        margin-right: 100px;
        color: white;" href="/"><i class="fa-solid fa-house"></i></a>
    </div>

    <div class="tetris">
        <canvas id="myCanvas"></canvas>
    <div class="result-container">
        <div id="game-header"><p>테트리스</p></div>
        <div id="score" class="score">
            <p>Score: <span id="score__text">0</span></p>
            <p>Level: <span id="level__text">1</span></p>
        </div>        
        <div id="next-block" class="next-block">
            <canvas id="nextCanvas"></canvas>
        </div>
        <div id="mobile__contorls" class="mobile__contorls">
            <div id="rotate"><div id="rotate__text"></div></div>
            <div id="leftRight">
                <div id="left__div">
                    <i class="fas fa-chevron-left fa-2x"></i>
            </div>
            <div id="right__div">
                <i class="fas fa-chevron-right fa-2x"></i>
            </div>
        </div>
            <div id="down">내리기</i></div>
        </div>
        <div id="contorls" class="contorls"><span id="controls__play">Play</span></div>
    </div>
    </div>

    <audio id="fourlines" src="{% static 'audio/fourlines.wav' %}"></audio>
    <audio id="fourlines" src="{% static 'audio/oneline.wav' %}"></audio>
    <audio id="fourlines" src="{% static 'audio/gameover.wav' %}"></audio>
    <span class="hidden hidethis">.</span>
    <span class="hidden2 hidethis">.</span>

    <script src="{% static 'tetris_piece.js' %}"></script>
    <script src="{% static 'tetris_board.js' %}"></script>
    <script src="{% static 'tetris.js' %}"></script>
</body>

{% endblock %}
