
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시드닝 터치테이블</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="{% static 'diagnosis.css' %}">


  <!-- 폰트어썸 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    function calculateScore() {

      // Calculate the score
      // Get the values of each radio button
        var option1 = parseInt(document.querySelector('input[name="option1"]:checked').value);
        var option2 = parseInt(document.querySelector('input[name="option2"]:checked').value);
        var option3 = parseInt(document.querySelector('input[name="option3"]:checked').value);
        var option4 = parseInt(document.querySelector('input[name="option4"]:checked').value);
        var option5 = parseInt(document.querySelector('input[name="option5"]:checked').value);
        var option6 = parseInt(document.querySelector('input[name="option6"]:checked').value);
        var option7 = parseInt(document.querySelector('input[name="option7"]:checked').value);
        var option8 = parseInt(document.querySelector('input[name="option8"]:checked').value);
        var option9 = parseInt(document.querySelector('input[name="option9"]:checked').value);
        var option10 = parseInt(document.querySelector('input[name="option10"]:checked').value);
        var option11 = parseInt(document.querySelector('input[name="option11"]:checked').value);
        var option12 = parseInt(document.querySelector('input[name="option12"]:checked').value);
        var option13 = parseInt(document.querySelector('input[name="option13"]:checked').value);
        var option14 = parseInt(document.querySelector('input[name="option14"]:checked').value);
        var option15 = parseInt(document.querySelector('input[name="option15"]:checked').value);
        
        
        // Calculate the total score
        var score = option1 + option2 + option3 + option4 + option5 
                    + option6 + option7 + option8 + option9 + option10
                    + option11 + option12 + option13 + option14 + option15;


      // Determine the result based on the score
      var result = "";
      if (score < 6) {
        result = "Low";
      } else if (score < 13) {
        result = "Moderate";
      } else {
        result = "High";
      }

      // Store the result in local storage
      localStorage.setItem("result", result);

      // Redirect to the result page
      window.location.href = "diagnosisResult";
    }
  </script>

</head>



<body>
  {% load static %}
  <div class="logicGame">

    <div class="logicGame_title">
      <div class="main_title">
        <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="title_img">
          <i class="fa-solid fa-hospital-user"></i>
        </div>
        <div class="title_text">
          <div class="title_text_head">자가 치매 진단</div>
          <div class="title_text_sub">내 건강은 내가 챙긴다</div>
        </div>
      </div>

      <div class="sub_title">
        건강 챙기미
      </div>
    </div>

    <div class="slide_btn">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="slideshow-container fade">
        {% load static %}
        <h3><인지기능장애 평가도구></h3>
        <div class="question_text">
          <div>질문</div>
          <div>아니다<br>0점</div>
          <div>가끔 (조금) 그렇다<br>1점</div>
          <div>자주 (많이) 그렇다<br>2점</div>
        </div>
        
        <div class="question_content">
          <div class="question first-ques">
            <p> 1. 오늘이 몇 월이고, 무슨 요일인지를 잘 모른다</p>
            <div class="question_score">
              <input type="radio" name="option1" value="0">
              <input type="radio" name="option1" value="1">
              <input type="radio" name="option1" value="2">
            </div>
          </div>
          
          <div class="question">
            <p> 2. 자기가 놔둔 물건을 찾지 못 한다</p>
            <div class="question_score">
              <input type="radio" name="option2" value="0">
              <input type="radio" name="option2" value="1">
              <input type="radio" name="option2" value="2">
            </div>
          </div>
          
          <div class="question">
            <p> 3. 같은 질문을 반복해서 한다</p>
            <div class="question_score">
              <input type="radio" name="option3" value="0">
              <input type="radio" name="option3" value="1">
              <input type="radio" name="option3" value="2">
            </div>
          </div>
          
          <div class="question">
            <p> 4. 약속을 하고서 잊어버린다</p>
            <div class="question_score">
              <input type="radio" name="option4" value="0">
              <input type="radio" name="option4" value="1">
              <input type="radio" name="option4" value="2">
            </div>
          </div>
          
          <div class="question">
            <p> 5. 물건을 가지러 갔다가 잊어버리고 그냥 온다</p>
            <div class="question_score">
              <input type="radio" name="option5" value="0">
              <input type="radio" name="option5" value="1">
              <input type="radio" name="option5" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 6. 물건이나, 사람의 이름을 대기가 힘들어 머뭇거린다</p>
            <div class="question_score">
              <input type="radio" name="option6" value="0">
              <input type="radio" name="option6" value="1">
              <input type="radio" name="option6" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 7. 대화 중 내용이 이해되지 않아 반복해서 물어 본다</p>
            <div class="question_score">
              <input type="radio" name="option7" value="0">
              <input type="radio" name="option7" value="1">
              <input type="radio" name="option7" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 8. 길을 잃거나 헤맨 적이 있다</p>
            <div class="question_score">
              <input type="radio" name="option8" value="0">
              <input type="radio" name="option8" value="1">
              <input type="radio" name="option8" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 9. 예전에 비해서 계산능력이 떨어졌다 <br>(예: 물건값이나 거스름돈 계산을 못한다)</p>
            <div class="question_score">
              <input type="radio" name="option9" value="0">
              <input type="radio" name="option9" value="1">
              <input type="radio" name="option9" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 10. 예전에 비해 성격이 변했다</p>
            <div class="question_score">
              <input type="radio" name="option10" value="0">
              <input type="radio" name="option10" value="1">
              <input type="radio" name="option10" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 11. 이전에 잘 다루던 기구의 사용이 서툴러졌다<br>(세탁기, 전기밥솥, 경운기 등)</p>
            <div class="question_score">
              <input type="radio" name="option11" value="0">
              <input type="radio" name="option11" value="1">
              <input type="radio" name="option11" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 12. 예전에 비해 방이나 집안의 정리정돈을 하지 못 한다</p>
            <div class="question_score">
              <input type="radio" name="option12" value="0">
              <input type="radio" name="option12" value="1">
              <input type="radio" name="option12" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 13. 상황에 맞게 스스로 옷을 선택하여 입지 못 한다</p>
            <div class="question_score">
              <input type="radio" name="option13" value="0">
              <input type="radio" name="option13" value="1">
              <input type="radio" name="option13" value="2">
            </div>
          </div>
      
          <div class="question">
            <p> 14. 혼자 대중교통 수단을 이용하여 목적지에 가기 힘들다<br>(신체적인 문제(관절염)로 인한 것은 제외됨)</p>
            <div class="question_score">
              <input type="radio" name="option14" value="0">
              <input type="radio" name="option14" value="1">
              <input type="radio" name="option14" value="2">
            </div>
          </div>
      
          <div class="question last-ques">
            <p> 15. 내복이나 옷이 더러워져도 갈아입지 않으려고 한다</p>
            <div class="question_score">
              <input type="radio" name="option15" value="0">
              <input type="radio" name="option15" value="1">
              <input type="radio" name="option15" value="2">
            </div>
          </div>
        </div>
    
    
        <br><br>
        <button class="diagnosis_btn" onclick="calculateScore()">결과보기</button>
      
      </div>
    </div>

</body>

{% endblock %}

