
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>논리 게임</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="{% static 'creativeGame.css' %}">

  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/04b098cc2d.js" crossorigin="anonymous"></script>

  <!-- 폰트 -->
  <script>
      (function(d) {
        var config = {
          kitId: 'usp4skz',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
  </script>

</head>



<body>
  {% load static %}
    <div class="logicGame">

      <div class="logicGame_title">
        <div class="main_title">
          <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
          <div class="title_img">
            <i class="fa-solid fa-brain"></i>
          </div>
          <div class="title_text">
            <div class="title_text_head">창작 게임</div>
            <div class="title_text_sub">숨은 창의력을 찾자</div>
          </div>
        </div>

        <div class="sub_title">
          두뇌 트레이닝
        </div>
      </div>

      <div class="slide_btn">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      
      <div class="slideshow-container">
        <div class="mySlides fade">
        
          <a class="game2" href="{% url 'tangram' %}">
            <div class="game_number">
              <img src="../static/img/figure.png" class="game_img">
              <div class="game_title">칠교 놀이</div>
              <div class="game_ex">7가지 조각만 사용하기</div>
            </div>
          </a>

          <a class="game3" href="{% url 'drawing' %}">
            <div class="game_number">
              <img src="../static/img/cryptocurrency-art.png" class="game_img">
              <div class="game_title">그림 그리기</div>
              <div class="game_ex">자유롭게 드로잉을 해보자</div>
            </div>
          </a>

          <a class="game4" href="{% url 'pianoplay' %}">
            <div class="game_number">
              <img src="../static/img/piano.png" class="game_img">
              <div class="game_title">피아노 치기</div>
              <div class="game_ex">도레미파솔라시~</div>
              <!-- <img src="../static/img/gym2.png" alt=""> -->
            </div>
          </a>

          <a class="game1" href="{% url 'pixelart' %}">
            <div class="game_number">
              <img src="../static/img/puzzle.png" class="game_img">
              <div class="game_title">픽셀 아트</div>
              <div class="game_ex">명화로 퍼즐 맞추고 감상도 하고!</div>
            </div>
          </a>
        </div>
        <!-- <div class="mySlides fade">
          <a class="game1" href="helpingDataTip4/">
            <div class="game_number">
              <img class="game_img" src="../static/images/bad.png" alt="">
              <div class="game_title">치매에 안 좋은 습관</div>
              <div class="game_ex">치매로 가는 지름길 습관</div>
            </div>
          </a>
          <a class="game2" href="helpingDataTip5/">
            <div class="game_number">
              <img class="game_img" src="../static/images/good.png" alt="">
              <div class="game_title">치매 예방에 좋은 습관</div>
              <div class="game_ex">치매와 멀어지는 습관
              </div>
              <!-- <img src="../static/img/gym4.png" alt=""> -->
            </div>
          </a>
        </div> -->
  
        
      
     
    </div>

    <script>
      var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
    </script>
</body>

{% endblock %}
