
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>그림 그리기</title>
  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
  <!-- css -->
   <!--jQuery UI south-street theme(green)-->
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/south-street/jquery-ui.css">

   <!--custom style-->
   <link rel="stylesheet" href="{% static 'drawing-style.css' %}">


  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
        <style type="text/css" media="screen, print">
                @font-face {
                font-family: 'GongGothicMedium';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
                font-weight: normal;
                font-style: normal;
                }
                body { font-family: "GongGothicMedium", serif }
        </style> 

</head>

<body>
  {% load static %}
<!-- partial:index.partial.html -->
  <div class="header" style="background-color: #39BF94; position:absolute; z-index: 3; width:100%; padding: 20px 60px;
  color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black; margin-top: -20px; margin-left: -10px;" >

    <div class="header-title" style="width: 100%; display: flex; align-items: center;">
      <a class="back_btn" style="width: 50px;
      height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
      font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
      <div class="main_title" style="font-size: 40px;
      font-family: 'GongGothicMedium'; margin-bottom: 10px;">그림 그리기</div>
    </div>

    <a class="home_btn" style= "width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 115px;
    color: white;
    margin-right: 100px;
    " href="/"><i class="fa-solid fa-house"></i></a>
  </div>


    <!--title-->
    <h2 >Drawing App</h2>

    <!--input-->
    <div class="inputContainer" style="margin-top: 150px;">

        <!--color-->
        <div class="input" id="colorInput">
            <input type="color" list id="paintColor">      
        </div>
        
        <!--line thickeness-->
        <div class="input" id="thickenessInput">
            <div id="circle"></div>
        </div>
        
        <!--slider-->
        <div class="input">
            <div id="slider"></div>
        </div>         
    </div>        

    <!--canvas-->
    <div id="canvasContainer">
        <canvas id="paint" width="500px" height="400px"></canvas>
    </div>

    <!-- buttons-->
    <div class="btnContainer">
        <!--Erase button -->
        <div class="btnInput">
            <span id="erase" class="button">Erase</span>
        </div>
        <!--Save button -->
        <div class="btnInput">
            <span id="save" class="button">Save</span>
        </div>        
        <!--Reset button -->
        <div class="btnInput">
            <span id="reset" class="button">Reset</span>
        </div>       
    </div>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- jQuery UI-->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!--javascript-->
    <script src="{% static 'drawing.js' %}">
    </script>
    

</body>

{% endblock %}