{% extends 'base.html' %}

{% block content %}

  <head>
    {% load static %}
    <title>이진 퍼즐</title>
    <!-- 폰트어썸 -->
		<script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
		<!-- 폰트 -->
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
		<link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
		<style type="text/css" media="screen, print">
					  @font-face {
					  font-family: 'GongGothicMedium';
					  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
					  font-weight: normal;
					  font-style: normal;
					  }
					  body { font-family: "GongGothicMedium", serif }
		</style>

        <!-- css -->
		<link rel="stylesheet" href="{% static 'binairo.css' %}">

        <!-- 이미지 -->
        <link rel="icon" type="image/png" href="{% static 'img/b_icon-1024.png' %}" />
        <link rel="shortcut icon" href="{% static 'img/b_icon-1024.png' %}" />
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/b_icon-1024.png' %}"/>
        	<!-- 이미지 경로 해결해야함 -->

    

    <style>html,body{background:#222;}</style>
  </head>

  <body>
    {% load static %}
    <div class="header" style="background-color: #39BF94;z-index: 3; width:100%; padding: 20px 60px;
        color: #fff; position:absolute; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
        <div class="header-title" style="width: 100%;display: flex; align-items: center;">
            <a class="back_btn" style="width: 50px;
            height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
            font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="main_title" style="font-size: 40px;
            font-family: 'GongGothicMedium'; margin-bottom: 10px;">이진 퍼즐</div>
        </div>

        <a class="home_btn" style= "width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        line-height: 115px;
        margin-right: 100px;
        color: white;" href="/"><i class="fa-solid fa-house"></i></a>
    	</div>
    <div id="container">
        <!-- <div id="title" class="screen show01 hide0 hide1 hidehs" data-action="close-titleScreen">
            <div class="vertical">
                <h1>Binairo</h1>
                <div id="titlegrid" class="board">
                    <div id="digits">                    
                        <span id="zero">Bi</span><span id="hs">nai</span><span id="one">ro</span>
                    </div>
<table data-grid="titlegrid" cellpadding="0" cellspacing="0"><tbody><tr><td class="odd"><div class="tile tile-2"><div class="inner"></div></div></td><td class="even"><div class="tile tile-1"><div class="inner"></div></td></tr></tbody></table>

                </div>
                <p>
                    a simple puzzle game<br>
                </p>
            </div>
        </div> -->

        <div id="menu" class="screen">
            <div class="vertical">
            <h2>인지 퍼즐</h2>
                <p data-action="tutorial">
                게임 방법
                </p>
                <p data-action="play">
                시작하기
                </p>
                <p data-action="about">
                    About
                </p>
            </div>
        </div>

        <div id="about" class="screen text" data-action="show-menu">
            <div class="vertical">
            <h3>About</h3>
            <p>
            Binairo is a logic puzzle involving placement of two symbols<br>
          
            <br>
            The concept is also known<br>
            as Takuzu.<br>
 
            </p>
            </div>
        </div>

        <div id="loading" class="screen">
            <div class="vertical">
                <h2>Loading</h2>
                <p></p>
                <div id="loadinggrid" class="board">
<table data-grid="loadinggrid" cellpadding="0" cellspacing="0"><tbody><tr><td class="odd"><div class="tile tile-2 loading"><div class="inner"></div></div></td></tr></tbody></table>
</div>
            </div>
        </div>

        <div id="game" class="screen">
            <p id="hintMsg" class="topMsg"></p>
            <p id="chooseSize" class="topMsg">Select a size to play...</p>
            <h2 id="boardsize"></h2>
            <div id="board" class="vertical board"></div>


            <div id="menugrid" class="vertical board hidden">
<table data-grid="menugrid" cellpadding="0" cellspacing="0"><tbody>
<tr><td class="odd"><div class="tile tile-2"><div data-action="startGame" data-size="1" class="inner"></div></div></td><td class="even"><div class="tile tile-1"><div data-action="startGame" data-size="2" class="inner"></div></div></td></tr>
<tr><td class="even"><div class="tile tile-1"><div data-action="startGame" data-size="3" class="inner"></div></div></td><td class="odd"><div class="tile tile-2"><div data-action="startGame" data-size="4" class="inner"></div></div></td></tr>
</tbody></table>
            </div>

            <div id="score">
                <img id="trophy" src="img/trophy.png"><span id="scorenr">30744</span>
            </div>
            <div id="bar">
                <div class="iconcon" data-action="undo"><div id="undo" class="icon"></div></div>
                <div class="iconcon" data-action="back"><div id="back" class="icon"></div></div>
                <a class="iconcon" id="tweeturl" target="_blank" href="about:blank" data-action="tweet"><span id="tweet" class="icon"></span></a>
                <div class="iconcon" data-action="help"><div id="help" class="icon"></div></div>
            </div>
        </div>
    </div>
    <div id="feelsize"></div>


    <script type="text/javascript" src="{% static 'binairo_js/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'binairo_js/index.js' %}"></script>
    <script>
        var scripts = [
            "{% static 'binairo_js/jquery-2.1.0.min.js' %}",
            "{% static 'binairo_js/utils.js' %}",
            "{% static 'binairo_js/state.js' %}",
            "{% static 'binairo_js/game.js' %}",
            "{% static 'binairo_js/grid.js' %}",
            "{% static 'binairo_js/tile.js' %}",
            "{% static 'binairo_js/hint.js' %}",
            "{% static 'binairo_js/tutorial.js' %}",
            "{% static 'binairo_js/webfont.js' %}",
            "{% static 'binairo_js/levels.js' %}",,
            "{% static 'binairo_js/backgroundservice.js' %}"
        ]
        for (var i=0; i<scripts.length; i++) {
            document.write('<scr'+'ipt src="' + scripts[i] + (Config.barph? ('?barph=' + (new Date() * 1)) : '') + '"></scr'+'ipt>');
        }
    </script>
  </body>

  {% endblock %}
