{% extends 'base.html' %}

{% block content %}
<head>
    {% load static %}
    <title>하노이의 탑</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'hanoi.css' %}">

    <!-- 폰트어썸 -->
	<script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
	<!-- 폰트 -->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
	<style type="text/css" media="screen, print">
				@font-face {
				font-family: 'GongGothicMedium';
				src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
				font-weight: normal;
				font-style: normal;
				}
				body { font-family: "GongGothicMedium", serif }
	</style>
    
</head>


  <body>
    {% load static %}
    <div class="header" style="background-color: #39BF94;z-index: 3; width:100%; padding: 20px 60px; 
        color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
        <div class="header-title" style="width: 100%;display: flex; align-items: center;">
            <a class="back_btn" style="width: 50px;
            height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
            font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="main_title" style="font-size: 40px;
            font-family: 'GongGothicMedium'; margin-bottom: 10px;">하노이의 탑</div>
        </div>

        <a class="home_btn" style= "width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        line-height: 115px;
        margin-right: 100px;
        color: white;" href="/"><i class="fa-solid fa-house"></i></a>
    </div>
    <canvas id="canvas" width="1200" height="500"></canvas>
    <div id="introduction">
      <div id="introduction-message">
        <h1>하노이의 탑</h1>
        <p>Your objective is to move your entire stack of disks from the first tower to one of the other two towers. There's only one
          catch&mdash;you may not place a larger disk on top of a smaller one.</p>
        <input id="start-new-game" type="button" value="Start game" />
      </div>
    </div>
    <div id="victory-notification">
      <div id="victory-message">
        <h1>Victory!</h1>
        <p>Congratulations! You just solve the mystery of the tower.</p>
        <p><input id="play-again" type="button" value="Play again" /> with
          <input id="disks-count" type="text" size="2" maxlength="2" value="3" /> disks.</p>
      </div>
    </div>
    <div id="debug"></div>
    <script type="text/javascript" src="{% static 'hanoi_js/miscellany.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/game.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/debug.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/input_handler.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/point.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/element_coordinate_finder.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/tower_manager.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/game_state.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/victory_celebrator.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/tower.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/disk.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/canvas.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/colour.js' %}"></script>
    <script type="text/javascript" src="{% static 'hanoi_js/init.js' %}"></script>

</body>

{% endblock %}
