
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>논리 게임</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="{% static 'exerciseGame.css' %}">

  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/04b098cc2d.js" crossorigin="anonymous"></script>


</head>


<body>
  {% load static %}
    <div class="logicGame">

      <div class="logicGame_title">
        <div class="main_title">
          <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
          <div class="title_img">
            <i class="fa-solid fa-brain"></i>
          </div>
          <div class="title_text">
            <div class="title_text_head">논리 게임</div>
            <div class="title_text_sub">잠든 두뇌를 깨우자</div>
          </div>
        </div>

        <div class="sub_title">
          두뇌 트레이닝
        </div>
      </div>

      <div class="slide_btn">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      
      <div class="slideshow-container">
        <div class="mySlides fade">
          <a class="game1" href="{% url 'memoryGame' %}">
            <div class="game_number">
              <img src="../static/img/fruit.png" class="game_img">
              <div class="game_title">같은 과일 맞추기</div>
              <div class="game_ex">잘 기억해서 똑같은 과일을 찾자</div>
            </div>
          </a>
          <a class="game2" href="{% url '2048' %}">
            <div class="game_number">
              <img src="../static/img/number.png" class="game_img">
              <div class="game_title">2048</div>
              <div class="game_ex">숫자를 합치며 2048까지!</div>
            </div>
          </a>

          
          <a class="game3" href="{% url 'Omok' %}">
            <div class="game_number">
              <img src="../static/img/omok.png" class="game_img">
              <div class="game_title">오목 대결</div>
              <div class="game_ex">누가누가 5개의 돌을 먼저 잇나!</div>
              <!-- <img src="../static/img/gym2.png" alt=""> -->
            </div>
          </a>

          <a class="game4" href="{% url 'sudoku' %}">
            <div class="game_number">
              <img src="../static/sudoku/images/sudoku.png" class="game_img">
              <div class="game_title">스도쿠</div>
              <div class="game_ex">빈칸에 들어갈 알맞은 숫자는?</div>
            </div>
          </a>

        </div>
        <div class="mySlides fade">
          <a class="game1" href="{% url 'square' %}">
            <div class="game_number">
              <img src="../static/img/square.png" class="game_img">
              <div class="game_title">다른 네모 찾기</div>
              <div class="game_ex">빈칸에 들어갈 알맞은 숫자는?</div>
            </div>
          </a>
          <a class="game2" href="{% url 'hanoi' %}">
            <div class="game_number">
              <img class="game_img" src="../static/img/tower.png" alt="">
              <div class="game_title">하노이의 탑</div>
              <div class="game_ex">치매와 멀어지는 습관
              </div>
          </div>
          </a>
        </div>
      </div>
    </div>

    <script>
      var slideIndex = 1;
  showSlides(slideIndex);
  
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
  }
    </script>
</body>

{% endblock %}

