{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">

  <title>같은 그림 맞추기</title>
  <!-- 폰트어썸 -->
  <script src="https://kit.fontawesome.com/5251502df3.js" crossorigin="anonymous"></script>
  <!-- css -->
  <link rel="stylesheet" href="{% static 'Omok-style.css' %}">
  <link rel="stylesheet" href="{% static 'Omok-reset.css' %}">
  <script src="{% static 'Omok-script.js' %}"></script>
  <source src="{% static 'beep.wav' %}" type="audio/wav">
  <source src="{% static 'ending.wav' %}" type="audio/wav">
  <source src="{% static 'tik.mp3' %}" type="audio/mp3">
  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" rel="stylesheet">
        <style type="text/css" media="screen, print">
                @font-face {
                font-family: 'GongGothicMedium';
                src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
                font-weight: normal;
                font-style: normal;
                }
                body { font-family: "GongGothicMedium", serif }
        </style>
</head>


<body>
  {% load static %}

    <div class="header" style="background-color: #39BF94;z-index: 3; width:100%; padding: 20px 60px;
        color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
        <div class="header-title" style="width: 100%;display: flex; align-items: center;">
            <a class="back_btn" style="width: 50px;
            height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 20px; color: #fff;
            font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="../"><i class="fa-solid fa-arrow-left"></i></a>
            <div class="main_title" style="font-size: 40px;
            font-family: 'GongGothicMedium'; margin-bottom: 10px;">오목 대결</div>
        </div>

        <a class="home_btn" style= "width: 100px;
        height: 100px;
        font-size: 40px;
        text-align: center;
        line-height: 115px;
        margin-right: 100px;
        color: white;" href="/"><i class="fa-solid fa-house"></i></a>
    </div>

  <!-- <a class="button" href="">
    <img class="back" src="../img/back.png" alt="back">
  </a>
  <a class="button" href="">
    <img class="refresh" src="../img/refresh.png" alt="refresh">
  </a> -->


  <div class="container">
    <div class="buttons">
        <button id="withdraw">한 번만~</button>
        <button id="reload">한 판 더 !</button>
    </div>
    <div class="winShow1">검정색 승리
        <div class="trophy">
            <img id="trophyImg" src="{% static 'img/trophy.png' %}" width="300px" height="300px" alt="">
        </div>
    </div>
    <div class="winShow2">하얀색 승리
        <div class="trophy">
            <img id="trophyImg2" src="{% static 'img/trophy.png' %}" width="300px" height="300px" alt="">
        </div>
    </div>
    <canvas id='canvas'></canvas>
</div>




</body>

{% endblock %}
