
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시드닝 터치테이블</title>

  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="../static/helpingData-style.css">


  <!-- 폰트어썸 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <!-- 폰트 -->
  <script>
      (function(d) {
        var config = {
          kitId: 'usp4skz',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>


    <style>
      .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
      }

      .gallery img {
        width: 50%;
        margin-bottom: 100px;
      }

    </style>

</head>



<body>
  {% load static %}
  <div class="header" style="background-color: #EF634B; z-index: 3; padding: 20px 60px;
    color: #fff; display: flex; justify-content: space-between; align-items: flex-end; border-bottom: 2px solid black;">
      <div class="header-title" style="width: 100%; display: flex; align-items: center;">
        <a class="back_btn" style="width: 50px;
        height: 50px; display: block; font-size: 30px; line-height: 50px; margin-right: 120px; color: #fff;
        font-family: 'Font Awesome 5 Free'; font-weight: 900; margin-bottom: 10px; " href="{% url 'helpingData' %}"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="main_title" style="font-size: 40px;
        font-family: 'GongGothicMedium'; margin-bottom: 10px; margin-left: 100px;">치매 예방 333 수칙</div>
      </div>

      <a class="home_btn" style= "width: 100px;
      height: 100px;
      font-size: 40px;
      text-align: center;
      line-height: 115px;
      color: white;" href="/"><i class="fa-solid fa-house"></i></a>
  </div>

    <div class="gallery">
      <img src="{% static 'images/helpingDataTip3-1.png' %}" alt="helpingDataTip3-1">
      <img src="{% static 'images/helpingDataTip3-2.jpg' %}" alt="helpingDataTip3-2">
    </div>
    
</body>

{% endblock %}
