
{% extends 'base.html' %}

{% block content %}

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시드닝 터치테이블</title>
  <link rel="stylesheet" href="{% static 'main-style.css' %}">
  <link rel="stylesheet" href="{% static 'main-reset.css' %}">
  <link rel="stylesheet" href="../static/gymnastic-style.css">

  <!-- 폰트어썸 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <!-- 폰트 -->
  <script>
      (function(d) {
        var config = {
          kitId: 'usp4skz',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>


</head>



<body>
  {% load static %}
  <div class="logicGame">

    <div class="logicGame_title">
      <div class="main_title">
        <a href="/" class="home_btn"><i class="fa-solid fa-arrow-left"></i></a>
        <div class="title_img">
          <i class="fa-solid fa-person-walking"></i>
        </div>
        <div class="title_text">
          <div class="title_text_head">건강 체조</div>
          <div class="title_text_sub">따라해보며 건강해지기</div>
        </div>
      </div>

      <div class="sub_title">
        건강 챙기미
      </div>
    </div>

    <div class="slide_btn">
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="slideshow-container">
      <div class="mySlides fade">
        <a class="game1" href="gymnastic1/">
          <div class="game_number">
            <div class="game_title">첫번째 체조</div>
            <div class="game_ex">3분 건강체조</div>
            <img src="../static/img/gym1.png" alt="">
          </div>
        </a>
        <a class="game2" href="gymnastic2/">
          <div class="game_number">
            <div class="game_title">두번째 체조</div>
            <div class="game_ex">가족과 함께하는 치매예방체조
            </div>
          </div>
        </a>
        <a class="game3" href="gymnastic3/">
          <div class="game_number">
            <div class="game_title">세번째 체조</div>
            <div class="game_ex">노래에 맞추어 치매예방운동하기
            </div>
          </div>
        </a>
        <a class="game4" href="gymnastic4/">
          <div class="game_number">
            <div class="game_title">네번째 체조</div>
            <div class="game_ex">일소일소일노일노</div>
            <img src="../static/img/gym2.png" alt="">
          </div>
        </a>
        <a class="game1" href="gymnastic5/">
          <div class="game_number">
            <div class="game_title">다섯번째 체조</div>
            <div class="game_ex">3분 건강체조</div>
          </div>
        </a>
        <a class="game2" href="gymnastic6/">
          <div class="game_number">
            <div class="game_title">여섯번째 체조</div>
            <div class="game_ex">짠짜라
            </div>
            <img src="../static/img/gym3.png" alt="">
          </div>
        </a>
        <a class="game3" href="gymnastic7/">
          <div class="game_number">
            <div class="game_title">일곱번째 체조</div>
            <div class="game_ex">찐이야
            </div>
          </div>
        </a>
        <a class="game4" href="gymnastic8/">
          <div class="game_number">
            <div class="game_title">여덟번째 체조</div>
            <div class="game_ex">안전하고 쉬운 치매예방운동법</div>
          </div>
        </a>

      </div>
      <div class="mySlides fade">
        <a class="game1" href="gymnastic9/">
          <div class="game_number">
            <div class="game_title">아홉번째 체조</div>
            <div class="game_ex">치매예방체조 국민건강보험공단</div>
          </div>
        </a>
        <a class="game2" href="gymnastic10/">
          <div class="game_number">
            <div class="game_title">열번째 체조</div>
            <div class="game_ex">치매예방체조 힘뇌체조
            </div>
            <img src="../static/img/gym4.png" alt="">
          </div>
        </a>
        <a class="game3" href="gymnastic11/">
          <div class="game_number">
            <div class="game_title">열한번째 체조</div>
            <div class="game_ex">치매예방체조 사랑의 밧줄

            </div>
          </div>
        </a>
        <a class="game4" href="gymnastic12/">
          <div class="game_number">
            <div class="game_title">열두번째 체조</div>
            <div class="game_ex">치매예방운동법 중앙치매센터
            </div>
          </div>
        </a>
        <a class="game1" href="gymnastic13/">
          <div class="game_number">
            <div class="game_title">열세번째 체조</div>
            <div class="game_ex">하루 1분 치매예방체조
            </div>
          </div>
        </a>
      </div>

      
      
      </div>
      
      
      
      </div>
      <br>
  </div>

  <script>
    var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
  </script>
</body>

{% endblock %}
